* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: thistle;
}

.color {
  color: violet;
  font-style: italic;
}


.subrayado {
  text-decoration: underline solid;
  font-size: xx-large;
}

header {
  height: 100px;
  line-height: 90px;
}



/*-------------Menu----------------*/

.menu {
  background-color: blueviolet;
  width: 100%;
}

.menu ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
.menu ul li {
  display: inline-block;
  font-style: arial;
  font-size: 15px;
}
.menu ul li a {
  color: white;
  display: block;
  padding: 10px 130px;
  text-decoration: none;
  /* transform: skewX(30deg); */
}



/* ---------Fin del menu------- */


.buttom:hover {
    
  transform: rotate(20deg);

}

.foto {
  width: 100%;
  border: 5px solid black;
}

.fontlist {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
}

.FontSyle2 {
  font-size: x-large;
  font-weight: 900;
  font-family: cursive;
}

.titulo {
  font-family: "Rampart One";
  font-size: 80px;
  letter-spacing: 5px;
  text-shadow: 5px 5px 5px blueviolet;
  animation-duration: 1s;
  animation-name: desaparezco;
  animation-delay: 8s;
  animation-iteration-count: infinite;
}

@keyframes desaparezco {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}

.FontList1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
}

.adopcion {
    font-size: xx-large;
    text-decoration: underline;

}

.listado {
    margin-left: 20px;
}





/* -------------------------------- Footer ---------------------------------- */

footer {
    width: 100%;

    background-image: linear-gradient(thistle, blueviolet);
    padding: 50px 0px;
    border-top: 2px solid black;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1170px;
  margin: auto;
  align-items: center;
  
}

.contenidoDelFooter {
  display: flex;
  flex-direction: column;
  padding: 30px;  
}

.texto {
   max-width: 200px;
   font-weight: 500;
   font-size: 15px;
   color: black;
}


.titulosFooter {
margin-bottom: 20px;
color: black;
font-weight: 900;
font-size: 25px;

}

.contenidoDelFooter a {
  margin-top: 10px;
  color: black;
  font-weight: 600px;
  text-decoration: none;
}

.contenidoDelFooter a:hover {
  opacity: 0.8;
}

.contenidoDelFooter a .fab {
  font-size: 20px;
  margin-right: 5px;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.copyright p {
  margin-top: 10px;
  color: black;
}

.copyright hr {
  border: none;
  height: 1px;
  background-color: black;
}


/* ------------------------ Fin del footer ---------------------------- */


/*---------------Portada----------------*/

.portada {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.photo {
  width: 950px;
}

/*---------------portada fin-------------- */





/*---------------- galeria-------------- */

.gallery-conteiner {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 300px;
  padding: 15px;
  grid-gap: 30px;
  justify-content: center;

}

.gallery__item {
  position: relative;
  /* transform: scale(1.1); */
}

.gallery__item:hover {
  transform: scale(1.1);
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.gallery__item:nth-child(4) {
  grid-column-start: span 1;
  
}

.gallery__item:nth-child(5) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(9) {
  grid-column-start: span 2;
  
}

.gallery__item:nth-child(8) {
  grid-row-start: span
}

.gallery__tittle {
  bottom: 0;
  position: absolute;
  color: white;
  background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
  width: 100%;
  padding: 10px;
}

img {
  position: relative;

}


/*---------------- galeria fin-------------- */



